<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Countdown Timer</title>
</head>

<body>
    <div class="time-container">
        <main class="time-box">
            <h2>Start Time</h2>
            <p id="start-time">Dec 22, 2022<br>11:42 AM</p>
        </main>

        <aside class="time-box">
            <h2>End Time</h2>
            <p id="end-time">Dec 25, 2022<br>7:00 AM</p>
        </aside>
    </div>

    <div class="time-box full-width">
        <h2>Time Remaining</h2>
        <p id="time-remaining">2 Day(s), 19 Hour(s), 18 Minute(s) Remaining</p>
    </div>

</body>

</html>